<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cep Wheater</title>
</head>


<body>

    <div class="container">

        <div class="containerimg2">

            <div>
                <img src="./img/logo.jpg" />
            </div>

        </div>

        <div  class="containertitulo">

            <span>   Rio Grande RS </span>

        </div>


        <div class="container_temps">

            <div>

                <img  src="./img/temp.png"/>

                <span>Sensação termica</span>

                <span><%= parseInt(tempo.feels_like)  %>ºC</span>

            </div>

            <div>

                <img  src="./img/temp.png"/>

                <span>Temperatura</span>

                <span><%= parseInt(tempo.temp)  %>ºC</span>

            </div>

            <div>

                <img  src="./img/temp.png"/>

                <span>Temperatura Min</span>

                <span><%= parseInt(tempo.temp_min)  %>ºC</span>

            </div>

            
            <div>

                <img  src="./img/temp.png"/>

                <span>Temperatura Max</span>

                <span><%= parseInt(tempo.temp_max)  %> ºC</span>

            </div>


        </div>




    </div>





</body>

</html>